:root {
  --primary: #6943ff;
  --secondary: #ccc1ff;
  --gray-dark: #1f2937;
  --gray-light: #273549;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.container {
  width: 70%;
  max-width: 780px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero {
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 40px;
  position: relative;
}

.hero__header {
  display: block;
}

.hero__title {
  font-size: 28px;
}

.input {
  height: 83px;
  width: 117px;
  border: 2px solid #b295ff;
  border-radius: 5px;
  background: var(--primary);
  margin: 20px 0;
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
  color: inherit;
  font-weight: bold;
}

.input:focus {
  outline: none;
}

.convert-btn {
  font-family: inherit;
  padding: 9px 28px;
  font-size: 16px;
  border-radius: 5px;
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.convert-btn:active {
  opacity: 0.7;
}

#con-section {
  background: var(--gray-dark);
  height: 444px;
  width: 100%;
  padding: 25px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.con-box {
  background: var(--gray-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.con-box + .con-box {
  margin-top: 25px;
}

.con-title {
  margin-bottom: 10px;
  color: var(--secondary);
}

/* Color Swatches */

#colors {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.clr-btn:hover,
.clr-btn:focus {
  opacity: 0.7;
}

.clr-light {
  background: #fff;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.clr-dark {
  background: #000;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.clr-green {
  background: #10b981;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.clr-blue {
  background: #0ea5e9;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.clr-purple {
  background: #8b5cf6;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.clr-red {
  background: #f43f5e;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.clr-yellow {
  background: #f59e0b;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}

/* Light Swatch */

body.light {
  background: #fff;
}

#hero.light {
  background: #6943ff;
}

.hero__title.light {
  color: #fff;
}

input.light {
  /* background: #6ee7b7; */
  /* border: 2px solid #fff; */
}

input.light:focus {
  outline: none;
}

.con-title.light {
  /* color: #a7f3d0; */
}

#con-section.light {
  background: #e5e7eb;
}

.con-box.light {
  background: #fff;
}

.con-title.light {
  color: #6943ff;
}

.metric-text.light {
  color: #000;
}

/* Dark Swatch */

body.dark {
  background: #000;
}

#hero.dark {
  background: #6943ff;
}

.hero__title.dark {
  color: #fff;
}

input.dark {
  /* background: #6ee7b7; */
  /* border: 2px solid #fff; */
}

input.dark:focus {
  outline: none;
}

.con-title.dark {
  /* color: #a7f3d0; */
}

#con-section.dark {
  background: var(--gray-dark);
}

.con-box.dark {
  background: var(--gray-light);
}

.con-title.dark {
  color: #ccc1ff;
}

.metric-text.dark {
  color: #fff;
}

/* Green Swatch */

body.green {
  background: #d1fae5;
}

#hero.green {
  background: #6ee7b7;
}

.hero__title.green {
  color: #fff;
}

input.green {
  background: #6ee7b7;
  border: 2px solid #fff;
}

input.green:focus {
  outline: none;
}

.con-title.green {
  color: #a7f3d0;
}

/* Blue Swatch */

body.blue {
  background: #e0f2fe;
}

#hero.blue {
  background: #7dd3fc;
}

.hero__title.blue {
  color: #fff;
}

input.blue {
  background: #7dd3fc;
  border: 2px solid #fff;
}

input.blue:focus {
  outline: none;
}

.con-title.blue {
  color: #bae6fd;
}

/* Purple Swatch */

body.purple {
  background: #ede9fe;
}

#hero.purple {
  background: #a78bfa;
}

.hero__title.purple {
  color: #fff;
}

input.purple {
  background: #ede9fe;
  border: 2px solid #fff;
  color: #000;
}

input.purple:focus {
  outline: none;
}

.con-title.purple {
  color: #c4b5fd;
}

/* Red Swatch */

body.red {
  background: #ffe4e6;
}

#hero.red {
  background: #fda4af;
}

.hero__title.red {
  color: #fff;
}

input.red {
  background: #fda4af;
  border: 2px solid #fff;
}

input.red:focus {
  outline: none;
}

.con-title.red {
  color: #fecdd3;
}

/* Yellow Swatch */

body.yellow {
  background: #fef3c7;
}

#hero.yellow {
  background: #fcd34d;
}

.hero__title.yellow {
  color: #fff;
}

input.yellow {
  background: #fef3c7;
  border: 2px solid #fff;
  color: #000;
}

input.yellow:focus {
  outline: none;
}

.con-title.yellow {
  color: #fde68a;
}
